@{
    ViewBag.Title = "A propos";
}

<h2>A propos</h2>

<ul>
     <li><a href="http://db.tt/wixkUv4">Dropbox</a>, 2 Go d'espace pour sauvegerder et partager documents, photos et vidéos</li>
     <li><a href="https://www.dropbox.com/developers">API Dropbox</a>, pour tout savoir sur l'API de Dropbox</li>
     <li><a href="https://github.com/dkarzon/DropNet">DropNet</a>, librairie C# de Damian Karzon pour utiliser l'API Dropbox</li>
     <li><a href="http://dkdevelopment.net/what-im-doing/dropnet/">Documentation DropNet</a>, quelques informations pour savoir commet utiliser DropNet</li>
</ul>
