@{
    ViewBag.Title = "Accueil";
}

<h2>@ViewBag.Message</h2>

@if (ViewBag.OK)
{
    <p>
        Les informations de configuration à l'API de Dropbox sont correctement
        enregistrées.
        Vous pouvez tester l'application.
    </p>
}
else
{
    <p>
        Les informations de configuration à l'API de Dropbox ne sont pas
        encore enregistrées.
        Vous devez @Html.ActionLink("paramétrer l'application", "Create").
    </p>
}
